:root[theme="white"] {
    --primary-color: #fff;
    --background-color: var(--primary-color);
}

:root[theme="dark"] {
    --primary-color: #161D26;
    --background-color: #1F2935;
    --pure-background: var(--primary-color);
    --text-color: #fff;
    --text-sub-color: #8291A9;
    --border-color: #415265;
}

:root[theme="sepia"] {
    --primary-color: #f3eacb;
    --background-color: #faf9f8;
    --pure-background: #fff;
    --text-color: #333;
    --border-color: #eee;
    --background-minor-highlight-color: #fcfcfc;
    --inline-code-background-color: #f1f1fe;
    --link-color: #235a97;
    --raised-background-color: #fff;
    --alt-text-color: #000;
    --raised-box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    --sidebar-background-color: #eee;
    --sidebar-list-active-background-color: #e3e8ec;
    --sidebar-list-background-color: #e4e4e4;
    --sidebar-link-border-color: #000;
    --sidebar-item-border-color: #ddd;
    --sidebar-active-button-background-color: #dfdfdf;
    --table-border-color: #f1f1f1;
    --blue-tinged-bg: #e6f2fb;
    --blue-tinged-strong: #cce4f6;
    --fade-gradient: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.2));
}